<!-- <a routerLink="/">Home</a>
<br>
<a routerLink="/about">About</a>
<br> -->
<!-- <a [routerLink]="['/profil',name,id]">Profil</a> -->
<!-- <a routerLink="/profil">Profil</a> -->

<app-navbar></app-navbar>
<br>
<app-home></app-home>
<!-- <app-home [myInput]="myNumber"></app-home>
<h2>welcome</h2>
<br>
<br>
<input type="text" [(ngModel)]="myNumber">
<br> -->
<br>

<!-- <app-home (myEvent)="printData($event)"></app-home> -->
<!-- <br> -->

<!-- <router-outlet></router-outlet> -->
<!-- 
<div>
    <p style="color: brown; font-size: 20px;" >This is footer</p>
</div> -->

<!-- <app-home>
    <ng-container>
        <h2>welcome to winopapa</h2>
        <h1>nafissa bch</h1>
        <p>Lorem ipsum dolor sit amet consectetur
     adipisicing elit. Quas non reprehenderit 
     possimus excepturi iusto eos sit harum illo, 
     accusantium hic, asperiores similique, vel 
     molestias commodi velit dicta at nostrum consectetur!</p>
    </ng-container> 
</app-home> -->


<!-- <app-home [name]="firstName" [Mynum]="number" [myProfil]="profil"></app-home> -->

